a-at {
  color: var(--arb-at-light);
  font-weight: var(--arb-at-light-weight, normal);
  font-style: var(--arb-at-light-style, normal);
  text-decoration: var(--arb-at-light-decoration, none);
}
a-co {
  color: var(--arb-co-light);
  font-weight: var(--arb-co-light-weight, normal);
  font-style: var(--arb-co-light-style, normal);
  text-decoration: var(--arb-co-light-decoration, none);
}
a-cb {
  color: var(--arb-cb-light);
  font-weight: var(--arb-cb-light-weight, normal);
  font-style: var(--arb-cb-light-style, normal);
  text-decoration: var(--arb-cb-light-decoration, none);
}
a-cr {
  color: var(--arb-cr-light);
  font-weight: var(--arb-cr-light-weight, normal);
  font-style: var(--arb-cr-light-style, normal);
  text-decoration: var(--arb-cr-light-decoration, none);
}
a-fb {
  color: var(--arb-fb-light);
  font-weight: var(--arb-fb-light-weight, normal);
  font-style: var(--arb-fb-light-style, normal);
  text-decoration: var(--arb-fb-light-decoration, none);
}
a-f {
  color: var(--arb-f-light);
  font-weight: var(--arb-f-light-weight, normal);
  font-style: var(--arb-f-light-style, normal);
  text-decoration: var(--arb-f-light-decoration, none);
}
a-fm {
  color: var(--arb-fm-light);
  font-weight: var(--arb-fm-light-weight, normal);
  font-style: var(--arb-fm-light-style, normal);
  text-decoration: var(--arb-fm-light-decoration, none);
}
a-k {
  color: var(--arb-k-light);
  font-weight: var(--arb-k-light-weight, normal);
  font-style: var(--arb-k-light-style, normal);
  text-decoration: var(--arb-k-light-decoration, none);
}
a-kc {
  color: var(--arb-kc-light);
  font-weight: var(--arb-kc-light-weight, normal);
  font-style: var(--arb-kc-light-style, normal);
  text-decoration: var(--arb-kc-light-decoration, none);
}
a-ko {
  color: var(--arb-ko-light);
  font-weight: var(--arb-ko-light-weight, normal);
  font-style: var(--arb-ko-light-style, normal);
  text-decoration: var(--arb-ko-light-decoration, none);
}
a-kd {
  color: var(--arb-kd-light);
  font-weight: var(--arb-kd-light-weight, normal);
  font-style: var(--arb-kd-light-style, normal);
  text-decoration: var(--arb-kd-light-decoration, none);
}
a-ke {
  color: var(--arb-ke-light);
  font-weight: var(--arb-ke-light-weight, normal);
  font-style: var(--arb-ke-light-style, normal);
  text-decoration: var(--arb-ke-light-decoration, none);
}
a-kf {
  color: var(--arb-kf-light);
  font-weight: var(--arb-kf-light-weight, normal);
  font-style: var(--arb-kf-light-style, normal);
  text-decoration: var(--arb-kf-light-decoration, none);
}
a-ki {
  color: var(--arb-ki-light);
  font-weight: var(--arb-ki-light-weight, normal);
  font-style: var(--arb-ki-light-style, normal);
  text-decoration: var(--arb-ki-light-decoration, none);
}
a-kp {
  color: var(--arb-kp-light);
  font-weight: var(--arb-kp-light-weight, normal);
  font-style: var(--arb-kp-light-style, normal);
  text-decoration: var(--arb-kp-light-decoration, none);
}
a-kr {
  color: var(--arb-kr-light);
  font-weight: var(--arb-kr-light-weight, normal);
  font-style: var(--arb-kr-light-style, normal);
  text-decoration: var(--arb-kr-light-decoration, none);
}
a-kt {
  color: var(--arb-kt-light);
  font-weight: var(--arb-kt-light-weight, normal);
  font-style: var(--arb-kt-light-style, normal);
  text-decoration: var(--arb-kt-light-decoration, none);
}
a-ky {
  color: var(--arb-ky-light);
  font-weight: var(--arb-ky-light-weight, normal);
  font-style: var(--arb-ky-light-style, normal);
  text-decoration: var(--arb-ky-light-decoration, none);
}
a-o {
  color: var(--arb-o-light);
  font-weight: var(--arb-o-light-weight, normal);
  font-style: var(--arb-o-light-style, normal);
  text-decoration: var(--arb-o-light-decoration, none);
}
a-pr {
  color: var(--arb-pr-light);
  font-weight: var(--arb-pr-light-weight, normal);
  font-style: var(--arb-pr-light-style, normal);
  text-decoration: var(--arb-pr-light-decoration, none);
}
a-p {
  color: var(--arb-p-light);
  font-weight: var(--arb-p-light-weight, normal);
  font-style: var(--arb-p-light-style, normal);
  text-decoration: var(--arb-p-light-decoration, none);
}
a-pb {
  color: var(--arb-pb-light);
  font-weight: var(--arb-pb-light-weight, normal);
  font-style: var(--arb-pb-light-style, normal);
  text-decoration: var(--arb-pb-light-decoration, none);
}
a-pd {
  color: var(--arb-pd-light);
  font-weight: var(--arb-pd-light-weight, normal);
  font-style: var(--arb-pd-light-style, normal);
  text-decoration: var(--arb-pd-light-decoration, none);
}
a-ps {
  color: var(--arb-ps-light);
  font-weight: var(--arb-ps-light-weight, normal);
  font-style: var(--arb-ps-light-style, normal);
  text-decoration: var(--arb-ps-light-decoration, none);
}
a-s {
  color: var(--arb-s-light);
  font-weight: var(--arb-s-light-weight, normal);
  font-style: var(--arb-s-light-style, normal);
  text-decoration: var(--arb-s-light-decoration, none);
}
a-ss {
  color: var(--arb-ss-light);
  font-weight: var(--arb-ss-light-weight, normal);
  font-style: var(--arb-ss-light-style, normal);
  text-decoration: var(--arb-ss-light-decoration, none);
}
a-tg {
  color: var(--arb-tg-light);
  font-weight: var(--arb-tg-light-weight, normal);
  font-style: var(--arb-tg-light-style, normal);
  text-decoration: var(--arb-tg-light-decoration, none);
}
a-td {
  color: var(--arb-td-light);
  font-weight: var(--arb-td-light-weight, normal);
  font-style: var(--arb-td-light-style, normal);
  text-decoration: var(--arb-td-light-decoration, none);
}
a-te {
  color: var(--arb-te-light);
  font-weight: var(--arb-te-light-weight, normal);
  font-style: var(--arb-te-light-style, normal);
  text-decoration: var(--arb-te-light-decoration, none);
}
a-t {
  color: var(--arb-t-light);
  font-weight: var(--arb-t-light-weight, normal);
  font-style: var(--arb-t-light-style, normal);
  text-decoration: var(--arb-t-light-decoration, none);
}
a-tb {
  color: var(--arb-tb-light);
  font-weight: var(--arb-tb-light-weight, normal);
  font-style: var(--arb-tb-light-style, normal);
  text-decoration: var(--arb-tb-light-decoration, none);
}
a-tq {
  color: var(--arb-tq-light);
  font-weight: var(--arb-tq-light-weight, normal);
  font-style: var(--arb-tq-light-style, normal);
  text-decoration: var(--arb-tq-light-decoration, none);
}
a-v {
  color: var(--arb-v-light);
  font-weight: var(--arb-v-light-weight, normal);
  font-style: var(--arb-v-light-style, normal);
  text-decoration: var(--arb-v-light-decoration, none);
}
a-vb {
  color: var(--arb-vb-light);
  font-weight: var(--arb-vb-light-weight, normal);
  font-style: var(--arb-vb-light-style, normal);
  text-decoration: var(--arb-vb-light-decoration, none);
}
a-vp {
  color: var(--arb-vp-light);
  font-weight: var(--arb-vp-light-weight, normal);
  font-style: var(--arb-vp-light-style, normal);
  text-decoration: var(--arb-vp-light-decoration, none);
}
a-c {
  color: var(--arb-c-light);
  font-weight: var(--arb-c-light-weight, normal);
  font-style: var(--arb-c-light-style, normal);
  text-decoration: var(--arb-c-light-decoration, none);
}
a-cd {
  color: var(--arb-cd-light);
  font-weight: var(--arb-cd-light-weight, normal);
  font-style: var(--arb-cd-light-style, normal);
  text-decoration: var(--arb-cd-light-decoration, none);
}
a-m {
  color: var(--arb-m-light);
  font-weight: var(--arb-m-light-weight, normal);
  font-style: var(--arb-m-light-style, normal);
  text-decoration: var(--arb-m-light-decoration, none);
}
a-l {
  color: var(--arb-l-light);
  font-weight: var(--arb-l-light-weight, normal);
  font-style: var(--arb-l-light-style, normal);
  text-decoration: var(--arb-l-light-decoration, none);
}
a-da {
  color: var(--arb-da-light);
  font-weight: var(--arb-da-light-weight, normal);
  font-style: var(--arb-da-light-style, normal);
  text-decoration: var(--arb-da-light-decoration, none);
}
a-dd {
  color: var(--arb-dd-light);
  font-weight: var(--arb-dd-light-weight, normal);
  font-style: var(--arb-dd-light-style, normal);
  text-decoration: var(--arb-dd-light-decoration, none);
}
a-n {
  color: var(--arb-n-light);
  font-weight: var(--arb-n-light-weight, normal);
  font-style: var(--arb-n-light-style, normal);
  text-decoration: var(--arb-n-light-decoration, none);
}
a-tl {
  color: var(--arb-tl-light);
  font-weight: var(--arb-tl-light-weight, normal);
  font-style: var(--arb-tl-light-style, normal);
  text-decoration: var(--arb-tl-light-decoration, none);
}
a-em {
  color: var(--arb-em-light);
  font-weight: var(--arb-em-light-weight, normal);
  font-style: var(--arb-em-light-style, normal);
  text-decoration: var(--arb-em-light-decoration, none);
}
a-st {
  color: var(--arb-st-light);
  font-weight: var(--arb-st-light-weight, normal);
  font-style: var(--arb-st-light-style, normal);
  text-decoration: var(--arb-st-light-decoration, none);
}
a-tu {
  color: var(--arb-tu-light);
  font-weight: var(--arb-tu-light-weight, normal);
  font-style: var(--arb-tu-light-style, normal);
  text-decoration: var(--arb-tu-light-decoration, none);
}
a-tr {
  color: var(--arb-tr-light);
  font-weight: var(--arb-tr-light-weight, normal);
  font-style: var(--arb-tr-light-style, normal);
  text-decoration: var(--arb-tr-light-decoration, none);
}
a-se {
  color: var(--arb-se-light);
  font-weight: var(--arb-se-light-weight, normal);
  font-style: var(--arb-se-light-style, normal);
  text-decoration: var(--arb-se-light-decoration, none);
}
a-tt {
  color: var(--arb-tt-light);
  font-weight: var(--arb-tt-light-weight, normal);
  font-style: var(--arb-tt-light-style, normal);
  text-decoration: var(--arb-tt-light-decoration, none);
}
a-tx {
  color: var(--arb-tx-light);
  font-weight: var(--arb-tx-light-weight, normal);
  font-style: var(--arb-tx-light-style, normal);
  text-decoration: var(--arb-tx-light-decoration, none);
}
a-sp {
  color: var(--arb-sp-light);
  font-weight: var(--arb-sp-light-weight, normal);
  font-style: var(--arb-sp-light-style, normal);
  text-decoration: var(--arb-sp-light-decoration, none);
}
a-eb {
  color: var(--arb-eb-light);
  font-weight: var(--arb-eb-light-weight, normal);
  font-style: var(--arb-eb-light-style, normal);
  text-decoration: var(--arb-eb-light-decoration, none);
}
a-er {
  color: var(--arb-er-light);
  font-weight: var(--arb-er-light-weight, normal);
  font-style: var(--arb-er-light-style, normal);
  text-decoration: var(--arb-er-light-decoration, none);
}
a-ns {
  color: var(--arb-ns-light);
  font-weight: var(--arb-ns-light-weight, normal);
  font-style: var(--arb-ns-light-style, normal);
  text-decoration: var(--arb-ns-light-decoration, none);
}
a-in {
  color: var(--arb-in-light);
  font-weight: var(--arb-in-light-weight, normal);
  font-style: var(--arb-in-light-style, normal);
  text-decoration: var(--arb-in-light-decoration, none);
}
a-sc {
  color: var(--arb-sc-light);
  font-weight: var(--arb-sc-light-weight, normal);
  font-style: var(--arb-sc-light-style, normal);
  text-decoration: var(--arb-sc-light-decoration, none);
}
a-rp {
  color: var(--arb-rp-light);
  font-weight: var(--arb-rp-light-weight, normal);
  font-style: var(--arb-rp-light-style, normal);
  text-decoration: var(--arb-rp-light-decoration, none);
}
a-cn {
  color: var(--arb-cn-light);
  font-weight: var(--arb-cn-light-weight, normal);
  font-style: var(--arb-cn-light-style, normal);
  text-decoration: var(--arb-cn-light-decoration, none);
}
a-ex {
  color: var(--arb-ex-light);
  font-weight: var(--arb-ex-light-weight, normal);
  font-style: var(--arb-ex-light-style, normal);
  text-decoration: var(--arb-ex-light-decoration, none);
}
a-pp {
  color: var(--arb-pp-light);
  font-weight: var(--arb-pp-light-weight, normal);
  font-style: var(--arb-pp-light-style, normal);
  text-decoration: var(--arb-pp-light-decoration, none);
}
a-ch {
  color: var(--arb-ch-light);
  font-weight: var(--arb-ch-light-weight, normal);
  font-style: var(--arb-ch-light-style, normal);
  text-decoration: var(--arb-ch-light-decoration, none);
}
a-cs {
  color: var(--arb-cs-light);
  font-weight: var(--arb-cs-light-weight, normal);
  font-style: var(--arb-cs-light-style, normal);
  text-decoration: var(--arb-cs-light-decoration, none);
}
a-vm {
  color: var(--arb-vm-light);
  font-weight: var(--arb-vm-light-weight, normal);
  font-style: var(--arb-vm-light-style, normal);
  text-decoration: var(--arb-vm-light-decoration, none);
}
a-fd {
  color: var(--arb-fd-light);
  font-weight: var(--arb-fd-light-weight, normal);
  font-style: var(--arb-fd-light-style, normal);
  text-decoration: var(--arb-fd-light-decoration, none);
}
a-tf {
  color: var(--arb-tf-light);
  font-weight: var(--arb-tf-light-weight, normal);
  font-style: var(--arb-tf-light-style, normal);
  text-decoration: var(--arb-tf-light-decoration, none);
}
a-fc {
  color: var(--arb-fc-light);
  font-weight: var(--arb-fc-light-weight, normal);
  font-style: var(--arb-fc-light-style, normal);
  text-decoration: var(--arb-fc-light-decoration, none);
}
a-km {
  color: var(--arb-km-light);
  font-weight: var(--arb-km-light-weight, normal);
  font-style: var(--arb-km-light-style, normal);
  text-decoration: var(--arb-km-light-decoration, none);
}
a-dr {
  color: var(--arb-dr-light);
  font-weight: var(--arb-dr-light-weight, normal);
  font-style: var(--arb-dr-light-style, normal);
  text-decoration: var(--arb-dr-light-decoration, none);
}
a-rx {
  color: var(--arb-rx-light);
  font-weight: var(--arb-rx-light-weight, normal);
  font-style: var(--arb-rx-light-style, normal);
  text-decoration: var(--arb-rx-light-decoration, none);
}

body[data-appearance="light"] {
  a-at {
    color: var(--arb-at-light);
    font-weight: var(--arb-at-light-weight, normal);
    font-style: var(--arb-at-light-style, normal);
    text-decoration: var(--arb-at-light-decoration, none);
  }
  a-co {
    color: var(--arb-co-light);
    font-weight: var(--arb-co-light-weight, normal);
    font-style: var(--arb-co-light-style, normal);
    text-decoration: var(--arb-co-light-decoration, none);
  }
  a-cb {
    color: var(--arb-cb-light);
    font-weight: var(--arb-cb-light-weight, normal);
    font-style: var(--arb-cb-light-style, normal);
    text-decoration: var(--arb-cb-light-decoration, none);
  }
  a-cr {
    color: var(--arb-cr-light);
    font-weight: var(--arb-cr-light-weight, normal);
    font-style: var(--arb-cr-light-style, normal);
    text-decoration: var(--arb-cr-light-decoration, none);
  }
  a-fb {
    color: var(--arb-fb-light);
    font-weight: var(--arb-fb-light-weight, normal);
    font-style: var(--arb-fb-light-style, normal);
    text-decoration: var(--arb-fb-light-decoration, none);
  }
  a-f {
    color: var(--arb-f-light);
    font-weight: var(--arb-f-light-weight, normal);
    font-style: var(--arb-f-light-style, normal);
    text-decoration: var(--arb-f-light-decoration, none);
  }
  a-fm {
    color: var(--arb-fm-light);
    font-weight: var(--arb-fm-light-weight, normal);
    font-style: var(--arb-fm-light-style, normal);
    text-decoration: var(--arb-fm-light-decoration, none);
  }
  a-k {
    color: var(--arb-k-light);
    font-weight: var(--arb-k-light-weight, normal);
    font-style: var(--arb-k-light-style, normal);
    text-decoration: var(--arb-k-light-decoration, none);
  }
  a-kc {
    color: var(--arb-kc-light);
    font-weight: var(--arb-kc-light-weight, normal);
    font-style: var(--arb-kc-light-style, normal);
    text-decoration: var(--arb-kc-light-decoration, none);
  }
  a-ko {
    color: var(--arb-ko-light);
    font-weight: var(--arb-ko-light-weight, normal);
    font-style: var(--arb-ko-light-style, normal);
    text-decoration: var(--arb-ko-light-decoration, none);
  }
  a-kd {
    color: var(--arb-kd-light);
    font-weight: var(--arb-kd-light-weight, normal);
    font-style: var(--arb-kd-light-style, normal);
    text-decoration: var(--arb-kd-light-decoration, none);
  }
  a-ke {
    color: var(--arb-ke-light);
    font-weight: var(--arb-ke-light-weight, normal);
    font-style: var(--arb-ke-light-style, normal);
    text-decoration: var(--arb-ke-light-decoration, none);
  }
  a-kf {
    color: var(--arb-kf-light);
    font-weight: var(--arb-kf-light-weight, normal);
    font-style: var(--arb-kf-light-style, normal);
    text-decoration: var(--arb-kf-light-decoration, none);
  }
  a-ki {
    color: var(--arb-ki-light);
    font-weight: var(--arb-ki-light-weight, normal);
    font-style: var(--arb-ki-light-style, normal);
    text-decoration: var(--arb-ki-light-decoration, none);
  }
  a-kp {
    color: var(--arb-kp-light);
    font-weight: var(--arb-kp-light-weight, normal);
    font-style: var(--arb-kp-light-style, normal);
    text-decoration: var(--arb-kp-light-decoration, none);
  }
  a-kr {
    color: var(--arb-kr-light);
    font-weight: var(--arb-kr-light-weight, normal);
    font-style: var(--arb-kr-light-style, normal);
    text-decoration: var(--arb-kr-light-decoration, none);
  }
  a-kt {
    color: var(--arb-kt-light);
    font-weight: var(--arb-kt-light-weight, normal);
    font-style: var(--arb-kt-light-style, normal);
    text-decoration: var(--arb-kt-light-decoration, none);
  }
  a-ky {
    color: var(--arb-ky-light);
    font-weight: var(--arb-ky-light-weight, normal);
    font-style: var(--arb-ky-light-style, normal);
    text-decoration: var(--arb-ky-light-decoration, none);
  }
  a-o {
    color: var(--arb-o-light);
    font-weight: var(--arb-o-light-weight, normal);
    font-style: var(--arb-o-light-style, normal);
    text-decoration: var(--arb-o-light-decoration, none);
  }
  a-pr {
    color: var(--arb-pr-light);
    font-weight: var(--arb-pr-light-weight, normal);
    font-style: var(--arb-pr-light-style, normal);
    text-decoration: var(--arb-pr-light-decoration, none);
  }
  a-p {
    color: var(--arb-p-light);
    font-weight: var(--arb-p-light-weight, normal);
    font-style: var(--arb-p-light-style, normal);
    text-decoration: var(--arb-p-light-decoration, none);
  }
  a-pb {
    color: var(--arb-pb-light);
    font-weight: var(--arb-pb-light-weight, normal);
    font-style: var(--arb-pb-light-style, normal);
    text-decoration: var(--arb-pb-light-decoration, none);
  }
  a-pd {
    color: var(--arb-pd-light);
    font-weight: var(--arb-pd-light-weight, normal);
    font-style: var(--arb-pd-light-style, normal);
    text-decoration: var(--arb-pd-light-decoration, none);
  }
  a-ps {
    color: var(--arb-ps-light);
    font-weight: var(--arb-ps-light-weight, normal);
    font-style: var(--arb-ps-light-style, normal);
    text-decoration: var(--arb-ps-light-decoration, none);
  }
  a-s {
    color: var(--arb-s-light);
    font-weight: var(--arb-s-light-weight, normal);
    font-style: var(--arb-s-light-style, normal);
    text-decoration: var(--arb-s-light-decoration, none);
  }
  a-ss {
    color: var(--arb-ss-light);
    font-weight: var(--arb-ss-light-weight, normal);
    font-style: var(--arb-ss-light-style, normal);
    text-decoration: var(--arb-ss-light-decoration, none);
  }
  a-tg {
    color: var(--arb-tg-light);
    font-weight: var(--arb-tg-light-weight, normal);
    font-style: var(--arb-tg-light-style, normal);
    text-decoration: var(--arb-tg-light-decoration, none);
  }
  a-td {
    color: var(--arb-td-light);
    font-weight: var(--arb-td-light-weight, normal);
    font-style: var(--arb-td-light-style, normal);
    text-decoration: var(--arb-td-light-decoration, none);
  }
  a-te {
    color: var(--arb-te-light);
    font-weight: var(--arb-te-light-weight, normal);
    font-style: var(--arb-te-light-style, normal);
    text-decoration: var(--arb-te-light-decoration, none);
  }
  a-t {
    color: var(--arb-t-light);
    font-weight: var(--arb-t-light-weight, normal);
    font-style: var(--arb-t-light-style, normal);
    text-decoration: var(--arb-t-light-decoration, none);
  }
  a-tb {
    color: var(--arb-tb-light);
    font-weight: var(--arb-tb-light-weight, normal);
    font-style: var(--arb-tb-light-style, normal);
    text-decoration: var(--arb-tb-light-decoration, none);
  }
  a-tq {
    color: var(--arb-tq-light);
    font-weight: var(--arb-tq-light-weight, normal);
    font-style: var(--arb-tq-light-style, normal);
    text-decoration: var(--arb-tq-light-decoration, none);
  }
  a-v {
    color: var(--arb-v-light);
    font-weight: var(--arb-v-light-weight, normal);
    font-style: var(--arb-v-light-style, normal);
    text-decoration: var(--arb-v-light-decoration, none);
  }
  a-vb {
    color: var(--arb-vb-light);
    font-weight: var(--arb-vb-light-weight, normal);
    font-style: var(--arb-vb-light-style, normal);
    text-decoration: var(--arb-vb-light-decoration, none);
  }
  a-vp {
    color: var(--arb-vp-light);
    font-weight: var(--arb-vp-light-weight, normal);
    font-style: var(--arb-vp-light-style, normal);
    text-decoration: var(--arb-vp-light-decoration, none);
  }
  a-c {
    color: var(--arb-c-light);
    font-weight: var(--arb-c-light-weight, normal);
    font-style: var(--arb-c-light-style, normal);
    text-decoration: var(--arb-c-light-decoration, none);
  }
  a-cd {
    color: var(--arb-cd-light);
    font-weight: var(--arb-cd-light-weight, normal);
    font-style: var(--arb-cd-light-style, normal);
    text-decoration: var(--arb-cd-light-decoration, none);
  }
  a-m {
    color: var(--arb-m-light);
    font-weight: var(--arb-m-light-weight, normal);
    font-style: var(--arb-m-light-style, normal);
    text-decoration: var(--arb-m-light-decoration, none);
  }
  a-l {
    color: var(--arb-l-light);
    font-weight: var(--arb-l-light-weight, normal);
    font-style: var(--arb-l-light-style, normal);
    text-decoration: var(--arb-l-light-decoration, none);
  }
  a-da {
    color: var(--arb-da-light);
    font-weight: var(--arb-da-light-weight, normal);
    font-style: var(--arb-da-light-style, normal);
    text-decoration: var(--arb-da-light-decoration, none);
  }
  a-dd {
    color: var(--arb-dd-light);
    font-weight: var(--arb-dd-light-weight, normal);
    font-style: var(--arb-dd-light-style, normal);
    text-decoration: var(--arb-dd-light-decoration, none);
  }
  a-n {
    color: var(--arb-n-light);
    font-weight: var(--arb-n-light-weight, normal);
    font-style: var(--arb-n-light-style, normal);
    text-decoration: var(--arb-n-light-decoration, none);
  }
  a-tl {
    color: var(--arb-tl-light);
    font-weight: var(--arb-tl-light-weight, normal);
    font-style: var(--arb-tl-light-style, normal);
    text-decoration: var(--arb-tl-light-decoration, none);
  }
  a-em {
    color: var(--arb-em-light);
    font-weight: var(--arb-em-light-weight, normal);
    font-style: var(--arb-em-light-style, normal);
    text-decoration: var(--arb-em-light-decoration, none);
  }
  a-st {
    color: var(--arb-st-light);
    font-weight: var(--arb-st-light-weight, normal);
    font-style: var(--arb-st-light-style, normal);
    text-decoration: var(--arb-st-light-decoration, none);
  }
  a-tu {
    color: var(--arb-tu-light);
    font-weight: var(--arb-tu-light-weight, normal);
    font-style: var(--arb-tu-light-style, normal);
    text-decoration: var(--arb-tu-light-decoration, none);
  }
  a-tr {
    color: var(--arb-tr-light);
    font-weight: var(--arb-tr-light-weight, normal);
    font-style: var(--arb-tr-light-style, normal);
    text-decoration: var(--arb-tr-light-decoration, none);
  }
  a-se {
    color: var(--arb-se-light);
    font-weight: var(--arb-se-light-weight, normal);
    font-style: var(--arb-se-light-style, normal);
    text-decoration: var(--arb-se-light-decoration, none);
  }
  a-tt {
    color: var(--arb-tt-light);
    font-weight: var(--arb-tt-light-weight, normal);
    font-style: var(--arb-tt-light-style, normal);
    text-decoration: var(--arb-tt-light-decoration, none);
  }
  a-tx {
    color: var(--arb-tx-light);
    font-weight: var(--arb-tx-light-weight, normal);
    font-style: var(--arb-tx-light-style, normal);
    text-decoration: var(--arb-tx-light-decoration, none);
  }
  a-sp {
    color: var(--arb-sp-light);
    font-weight: var(--arb-sp-light-weight, normal);
    font-style: var(--arb-sp-light-style, normal);
    text-decoration: var(--arb-sp-light-decoration, none);
  }
  a-eb {
    color: var(--arb-eb-light);
    font-weight: var(--arb-eb-light-weight, normal);
    font-style: var(--arb-eb-light-style, normal);
    text-decoration: var(--arb-eb-light-decoration, none);
  }
  a-er {
    color: var(--arb-er-light);
    font-weight: var(--arb-er-light-weight, normal);
    font-style: var(--arb-er-light-style, normal);
    text-decoration: var(--arb-er-light-decoration, none);
  }
  a-ns {
    color: var(--arb-ns-light);
    font-weight: var(--arb-ns-light-weight, normal);
    font-style: var(--arb-ns-light-style, normal);
    text-decoration: var(--arb-ns-light-decoration, none);
  }
  a-in {
    color: var(--arb-in-light);
    font-weight: var(--arb-in-light-weight, normal);
    font-style: var(--arb-in-light-style, normal);
    text-decoration: var(--arb-in-light-decoration, none);
  }
  a-sc {
    color: var(--arb-sc-light);
    font-weight: var(--arb-sc-light-weight, normal);
    font-style: var(--arb-sc-light-style, normal);
    text-decoration: var(--arb-sc-light-decoration, none);
  }
  a-rp {
    color: var(--arb-rp-light);
    font-weight: var(--arb-rp-light-weight, normal);
    font-style: var(--arb-rp-light-style, normal);
    text-decoration: var(--arb-rp-light-decoration, none);
  }
  a-cn {
    color: var(--arb-cn-light);
    font-weight: var(--arb-cn-light-weight, normal);
    font-style: var(--arb-cn-light-style, normal);
    text-decoration: var(--arb-cn-light-decoration, none);
  }
  a-ex {
    color: var(--arb-ex-light);
    font-weight: var(--arb-ex-light-weight, normal);
    font-style: var(--arb-ex-light-style, normal);
    text-decoration: var(--arb-ex-light-decoration, none);
  }
  a-pp {
    color: var(--arb-pp-light);
    font-weight: var(--arb-pp-light-weight, normal);
    font-style: var(--arb-pp-light-style, normal);
    text-decoration: var(--arb-pp-light-decoration, none);
  }
  a-ch {
    color: var(--arb-ch-light);
    font-weight: var(--arb-ch-light-weight, normal);
    font-style: var(--arb-ch-light-style, normal);
    text-decoration: var(--arb-ch-light-decoration, none);
  }
  a-cs {
    color: var(--arb-cs-light);
    font-weight: var(--arb-cs-light-weight, normal);
    font-style: var(--arb-cs-light-style, normal);
    text-decoration: var(--arb-cs-light-decoration, none);
  }
  a-vm {
    color: var(--arb-vm-light);
    font-weight: var(--arb-vm-light-weight, normal);
    font-style: var(--arb-vm-light-style, normal);
    text-decoration: var(--arb-vm-light-decoration, none);
  }
  a-fd {
    color: var(--arb-fd-light);
    font-weight: var(--arb-fd-light-weight, normal);
    font-style: var(--arb-fd-light-style, normal);
    text-decoration: var(--arb-fd-light-decoration, none);
  }
  a-tf {
    color: var(--arb-tf-light);
    font-weight: var(--arb-tf-light-weight, normal);
    font-style: var(--arb-tf-light-style, normal);
    text-decoration: var(--arb-tf-light-decoration, none);
  }
  a-fc {
    color: var(--arb-fc-light);
    font-weight: var(--arb-fc-light-weight, normal);
    font-style: var(--arb-fc-light-style, normal);
    text-decoration: var(--arb-fc-light-decoration, none);
  }
  a-km {
    color: var(--arb-km-light);
    font-weight: var(--arb-km-light-weight, normal);
    font-style: var(--arb-km-light-style, normal);
    text-decoration: var(--arb-km-light-decoration, none);
  }
  a-dr {
    color: var(--arb-dr-light);
    font-weight: var(--arb-dr-light-weight, normal);
    font-style: var(--arb-dr-light-style, normal);
    text-decoration: var(--arb-dr-light-decoration, none);
  }
  a-rx {
    color: var(--arb-rx-light);
    font-weight: var(--arb-rx-light-weight, normal);
    font-style: var(--arb-rx-light-style, normal);
    text-decoration: var(--arb-rx-light-decoration, none);
  }
}

body[data-appearance="dark"] {
  a-at {
    color: var(--arb-at-dark);
    font-weight: var(--arb-at-dark-weight, normal);
    font-style: var(--arb-at-dark-style, normal);
    text-decoration: var(--arb-at-dark-decoration, none);
  }
  a-co {
    color: var(--arb-co-dark);
    font-weight: var(--arb-co-dark-weight, normal);
    font-style: var(--arb-co-dark-style, normal);
    text-decoration: var(--arb-co-dark-decoration, none);
  }
  a-cb {
    color: var(--arb-cb-dark);
    font-weight: var(--arb-cb-dark-weight, normal);
    font-style: var(--arb-cb-dark-style, normal);
    text-decoration: var(--arb-cb-dark-decoration, none);
  }
  a-cr {
    color: var(--arb-cr-dark);
    font-weight: var(--arb-cr-dark-weight, normal);
    font-style: var(--arb-cr-dark-style, normal);
    text-decoration: var(--arb-cr-dark-decoration, none);
  }
  a-fb {
    color: var(--arb-fb-dark);
    font-weight: var(--arb-fb-dark-weight, normal);
    font-style: var(--arb-fb-dark-style, normal);
    text-decoration: var(--arb-fb-dark-decoration, none);
  }
  a-f {
    color: var(--arb-f-dark);
    font-weight: var(--arb-f-dark-weight, normal);
    font-style: var(--arb-f-dark-style, normal);
    text-decoration: var(--arb-f-dark-decoration, none);
  }
  a-fm {
    color: var(--arb-fm-dark);
    font-weight: var(--arb-fm-dark-weight, normal);
    font-style: var(--arb-fm-dark-style, normal);
    text-decoration: var(--arb-fm-dark-decoration, none);
  }
  a-k {
    color: var(--arb-k-dark);
    font-weight: var(--arb-k-dark-weight, normal);
    font-style: var(--arb-k-dark-style, normal);
    text-decoration: var(--arb-k-dark-decoration, none);
  }
  a-kc {
    color: var(--arb-kc-dark);
    font-weight: var(--arb-kc-dark-weight, normal);
    font-style: var(--arb-kc-dark-style, normal);
    text-decoration: var(--arb-kc-dark-decoration, none);
  }
  a-ko {
    color: var(--arb-ko-dark);
    font-weight: var(--arb-ko-dark-weight, normal);
    font-style: var(--arb-ko-dark-style, normal);
    text-decoration: var(--arb-ko-dark-decoration, none);
  }
  a-kd {
    color: var(--arb-kd-dark);
    font-weight: var(--arb-kd-dark-weight, normal);
    font-style: var(--arb-kd-dark-style, normal);
    text-decoration: var(--arb-kd-dark-decoration, none);
  }
  a-ke {
    color: var(--arb-ke-dark);
    font-weight: var(--arb-ke-dark-weight, normal);
    font-style: var(--arb-ke-dark-style, normal);
    text-decoration: var(--arb-ke-dark-decoration, none);
  }
  a-kf {
    color: var(--arb-kf-dark);
    font-weight: var(--arb-kf-dark-weight, normal);
    font-style: var(--arb-kf-dark-style, normal);
    text-decoration: var(--arb-kf-dark-decoration, none);
  }
  a-ki {
    color: var(--arb-ki-dark);
    font-weight: var(--arb-ki-dark-weight, normal);
    font-style: var(--arb-ki-dark-style, normal);
    text-decoration: var(--arb-ki-dark-decoration, none);
  }
  a-kp {
    color: var(--arb-kp-dark);
    font-weight: var(--arb-kp-dark-weight, normal);
    font-style: var(--arb-kp-dark-style, normal);
    text-decoration: var(--arb-kp-dark-decoration, none);
  }
  a-kr {
    color: var(--arb-kr-dark);
    font-weight: var(--arb-kr-dark-weight, normal);
    font-style: var(--arb-kr-dark-style, normal);
    text-decoration: var(--arb-kr-dark-decoration, none);
  }
  a-kt {
    color: var(--arb-kt-dark);
    font-weight: var(--arb-kt-dark-weight, normal);
    font-style: var(--arb-kt-dark-style, normal);
    text-decoration: var(--arb-kt-dark-decoration, none);
  }
  a-ky {
    color: var(--arb-ky-dark);
    font-weight: var(--arb-ky-dark-weight, normal);
    font-style: var(--arb-ky-dark-style, normal);
    text-decoration: var(--arb-ky-dark-decoration, none);
  }
  a-o {
    color: var(--arb-o-dark);
    font-weight: var(--arb-o-dark-weight, normal);
    font-style: var(--arb-o-dark-style, normal);
    text-decoration: var(--arb-o-dark-decoration, none);
  }
  a-pr {
    color: var(--arb-pr-dark);
    font-weight: var(--arb-pr-dark-weight, normal);
    font-style: var(--arb-pr-dark-style, normal);
    text-decoration: var(--arb-pr-dark-decoration, none);
  }
  a-p {
    color: var(--arb-p-dark);
    font-weight: var(--arb-p-dark-weight, normal);
    font-style: var(--arb-p-dark-style, normal);
    text-decoration: var(--arb-p-dark-decoration, none);
  }
  a-pb {
    color: var(--arb-pb-dark);
    font-weight: var(--arb-pb-dark-weight, normal);
    font-style: var(--arb-pb-dark-style, normal);
    text-decoration: var(--arb-pb-dark-decoration, none);
  }
  a-pd {
    color: var(--arb-pd-dark);
    font-weight: var(--arb-pd-dark-weight, normal);
    font-style: var(--arb-pd-dark-style, normal);
    text-decoration: var(--arb-pd-dark-decoration, none);
  }
  a-ps {
    color: var(--arb-ps-dark);
    font-weight: var(--arb-ps-dark-weight, normal);
    font-style: var(--arb-ps-dark-style, normal);
    text-decoration: var(--arb-ps-dark-decoration, none);
  }
  a-s {
    color: var(--arb-s-dark);
    font-weight: var(--arb-s-dark-weight, normal);
    font-style: var(--arb-s-dark-style, normal);
    text-decoration: var(--arb-s-dark-decoration, none);
  }
  a-ss {
    color: var(--arb-ss-dark);
    font-weight: var(--arb-ss-dark-weight, normal);
    font-style: var(--arb-ss-dark-style, normal);
    text-decoration: var(--arb-ss-dark-decoration, none);
  }
  a-tg {
    color: var(--arb-tg-dark);
    font-weight: var(--arb-tg-dark-weight, normal);
    font-style: var(--arb-tg-dark-style, normal);
    text-decoration: var(--arb-tg-dark-decoration, none);
  }
  a-td {
    color: var(--arb-td-dark);
    font-weight: var(--arb-td-dark-weight, normal);
    font-style: var(--arb-td-dark-style, normal);
    text-decoration: var(--arb-td-dark-decoration, none);
  }
  a-te {
    color: var(--arb-te-dark);
    font-weight: var(--arb-te-dark-weight, normal);
    font-style: var(--arb-te-dark-style, normal);
    text-decoration: var(--arb-te-dark-decoration, none);
  }
  a-t {
    color: var(--arb-t-dark);
    font-weight: var(--arb-t-dark-weight, normal);
    font-style: var(--arb-t-dark-style, normal);
    text-decoration: var(--arb-t-dark-decoration, none);
  }
  a-tb {
    color: var(--arb-tb-dark);
    font-weight: var(--arb-tb-dark-weight, normal);
    font-style: var(--arb-tb-dark-style, normal);
    text-decoration: var(--arb-tb-dark-decoration, none);
  }
  a-tq {
    color: var(--arb-tq-dark);
    font-weight: var(--arb-tq-dark-weight, normal);
    font-style: var(--arb-tq-dark-style, normal);
    text-decoration: var(--arb-tq-dark-decoration, none);
  }
  a-v {
    color: var(--arb-v-dark);
    font-weight: var(--arb-v-dark-weight, normal);
    font-style: var(--arb-v-dark-style, normal);
    text-decoration: var(--arb-v-dark-decoration, none);
  }
  a-vb {
    color: var(--arb-vb-dark);
    font-weight: var(--arb-vb-dark-weight, normal);
    font-style: var(--arb-vb-dark-style, normal);
    text-decoration: var(--arb-vb-dark-decoration, none);
  }
  a-vp {
    color: var(--arb-vp-dark);
    font-weight: var(--arb-vp-dark-weight, normal);
    font-style: var(--arb-vp-dark-style, normal);
    text-decoration: var(--arb-vp-dark-decoration, none);
  }
  a-c {
    color: var(--arb-c-dark);
    font-weight: var(--arb-c-dark-weight, normal);
    font-style: var(--arb-c-dark-style, normal);
    text-decoration: var(--arb-c-dark-decoration, none);
  }
  a-cd {
    color: var(--arb-cd-dark);
    font-weight: var(--arb-cd-dark-weight, normal);
    font-style: var(--arb-cd-dark-style, normal);
    text-decoration: var(--arb-cd-dark-decoration, none);
  }
  a-m {
    color: var(--arb-m-dark);
    font-weight: var(--arb-m-dark-weight, normal);
    font-style: var(--arb-m-dark-style, normal);
    text-decoration: var(--arb-m-dark-decoration, none);
  }
  a-l {
    color: var(--arb-l-dark);
    font-weight: var(--arb-l-dark-weight, normal);
    font-style: var(--arb-l-dark-style, normal);
    text-decoration: var(--arb-l-dark-decoration, none);
  }
  a-da {
    color: var(--arb-da-dark);
    font-weight: var(--arb-da-dark-weight, normal);
    font-style: var(--arb-da-dark-style, normal);
    text-decoration: var(--arb-da-dark-decoration, none);
  }
  a-dd {
    color: var(--arb-dd-dark);
    font-weight: var(--arb-dd-dark-weight, normal);
    font-style: var(--arb-dd-dark-style, normal);
    text-decoration: var(--arb-dd-dark-decoration, none);
  }
  a-n {
    color: var(--arb-n-dark);
    font-weight: var(--arb-n-dark-weight, normal);
    font-style: var(--arb-n-dark-style, normal);
    text-decoration: var(--arb-n-dark-decoration, none);
  }
  a-tl {
    color: var(--arb-tl-dark);
    font-weight: var(--arb-tl-dark-weight, normal);
    font-style: var(--arb-tl-dark-style, normal);
    text-decoration: var(--arb-tl-dark-decoration, none);
  }
  a-em {
    color: var(--arb-em-dark);
    font-weight: var(--arb-em-dark-weight, normal);
    font-style: var(--arb-em-dark-style, normal);
    text-decoration: var(--arb-em-dark-decoration, none);
  }
  a-st {
    color: var(--arb-st-dark);
    font-weight: var(--arb-st-dark-weight, normal);
    font-style: var(--arb-st-dark-style, normal);
    text-decoration: var(--arb-st-dark-decoration, none);
  }
  a-tu {
    color: var(--arb-tu-dark);
    font-weight: var(--arb-tu-dark-weight, normal);
    font-style: var(--arb-tu-dark-style, normal);
    text-decoration: var(--arb-tu-dark-decoration, none);
  }
  a-tr {
    color: var(--arb-tr-dark);
    font-weight: var(--arb-tr-dark-weight, normal);
    font-style: var(--arb-tr-dark-style, normal);
    text-decoration: var(--arb-tr-dark-decoration, none);
  }
  a-se {
    color: var(--arb-se-dark);
    font-weight: var(--arb-se-dark-weight, normal);
    font-style: var(--arb-se-dark-style, normal);
    text-decoration: var(--arb-se-dark-decoration, none);
  }
  a-tt {
    color: var(--arb-tt-dark);
    font-weight: var(--arb-tt-dark-weight, normal);
    font-style: var(--arb-tt-dark-style, normal);
    text-decoration: var(--arb-tt-dark-decoration, none);
  }
  a-tx {
    color: var(--arb-tx-dark);
    font-weight: var(--arb-tx-dark-weight, normal);
    font-style: var(--arb-tx-dark-style, normal);
    text-decoration: var(--arb-tx-dark-decoration, none);
  }
  a-sp {
    color: var(--arb-sp-dark);
    font-weight: var(--arb-sp-dark-weight, normal);
    font-style: var(--arb-sp-dark-style, normal);
    text-decoration: var(--arb-sp-dark-decoration, none);
  }
  a-eb {
    color: var(--arb-eb-dark);
    font-weight: var(--arb-eb-dark-weight, normal);
    font-style: var(--arb-eb-dark-style, normal);
    text-decoration: var(--arb-eb-dark-decoration, none);
  }
  a-er {
    color: var(--arb-er-dark);
    font-weight: var(--arb-er-dark-weight, normal);
    font-style: var(--arb-er-dark-style, normal);
    text-decoration: var(--arb-er-dark-decoration, none);
  }
  a-ns {
    color: var(--arb-ns-dark);
    font-weight: var(--arb-ns-dark-weight, normal);
    font-style: var(--arb-ns-dark-style, normal);
    text-decoration: var(--arb-ns-dark-decoration, none);
  }
  a-in {
    color: var(--arb-in-dark);
    font-weight: var(--arb-in-dark-weight, normal);
    font-style: var(--arb-in-dark-style, normal);
    text-decoration: var(--arb-in-dark-decoration, none);
  }
  a-sc {
    color: var(--arb-sc-dark);
    font-weight: var(--arb-sc-dark-weight, normal);
    font-style: var(--arb-sc-dark-style, normal);
    text-decoration: var(--arb-sc-dark-decoration, none);
  }
  a-rp {
    color: var(--arb-rp-dark);
    font-weight: var(--arb-rp-dark-weight, normal);
    font-style: var(--arb-rp-dark-style, normal);
    text-decoration: var(--arb-rp-dark-decoration, none);
  }
  a-cn {
    color: var(--arb-cn-dark);
    font-weight: var(--arb-cn-dark-weight, normal);
    font-style: var(--arb-cn-dark-style, normal);
    text-decoration: var(--arb-cn-dark-decoration, none);
  }
  a-ex {
    color: var(--arb-ex-dark);
    font-weight: var(--arb-ex-dark-weight, normal);
    font-style: var(--arb-ex-dark-style, normal);
    text-decoration: var(--arb-ex-dark-decoration, none);
  }
  a-pp {
    color: var(--arb-pp-dark);
    font-weight: var(--arb-pp-dark-weight, normal);
    font-style: var(--arb-pp-dark-style, normal);
    text-decoration: var(--arb-pp-dark-decoration, none);
  }
  a-ch {
    color: var(--arb-ch-dark);
    font-weight: var(--arb-ch-dark-weight, normal);
    font-style: var(--arb-ch-dark-style, normal);
    text-decoration: var(--arb-ch-dark-decoration, none);
  }
  a-cs {
    color: var(--arb-cs-dark);
    font-weight: var(--arb-cs-dark-weight, normal);
    font-style: var(--arb-cs-dark-style, normal);
    text-decoration: var(--arb-cs-dark-decoration, none);
  }
  a-vm {
    color: var(--arb-vm-dark);
    font-weight: var(--arb-vm-dark-weight, normal);
    font-style: var(--arb-vm-dark-style, normal);
    text-decoration: var(--arb-vm-dark-decoration, none);
  }
  a-fd {
    color: var(--arb-fd-dark);
    font-weight: var(--arb-fd-dark-weight, normal);
    font-style: var(--arb-fd-dark-style, normal);
    text-decoration: var(--arb-fd-dark-decoration, none);
  }
  a-tf {
    color: var(--arb-tf-dark);
    font-weight: var(--arb-tf-dark-weight, normal);
    font-style: var(--arb-tf-dark-style, normal);
    text-decoration: var(--arb-tf-dark-decoration, none);
  }
  a-fc {
    color: var(--arb-fc-dark);
    font-weight: var(--arb-fc-dark-weight, normal);
    font-style: var(--arb-fc-dark-style, normal);
    text-decoration: var(--arb-fc-dark-decoration, none);
  }
  a-km {
    color: var(--arb-km-dark);
    font-weight: var(--arb-km-dark-weight, normal);
    font-style: var(--arb-km-dark-style, normal);
    text-decoration: var(--arb-km-dark-decoration, none);
  }
  a-dr {
    color: var(--arb-dr-dark);
    font-weight: var(--arb-dr-dark-weight, normal);
    font-style: var(--arb-dr-dark-style, normal);
    text-decoration: var(--arb-dr-dark-decoration, none);
  }
  a-rx {
    color: var(--arb-rx-dark);
    font-weight: var(--arb-rx-dark-weight, normal);
    font-style: var(--arb-rx-dark-style, normal);
    text-decoration: var(--arb-rx-dark-decoration, none);
  }
}
