:root {
  --arb-at-dark: #c1a78e;
  --arb-co-dark: #cf9bc2;
  --arb-cb-dark: #cf9bc2;
  --arb-fb-dark: #a3a9ce;
  --arb-f-dark: #a3a9ce;
  --arb-fm-dark: #a3a9ce;
  --arb-k-dark: #bd8183;
  --arb-kc-dark: #bd8183;
  --arb-ko-dark: #bd8183;
  --arb-kd-dark: #bd8183;
  --arb-ke-dark: #bd8183;
  --arb-kf-dark: #bd8183;
  --arb-ki-dark: #bd8183;
  --arb-kp-dark: #bd8183;
  --arb-kr-dark: #bd8183;
  --arb-kt-dark: #bd8183;
  --arb-ky-dark: #bd8183;
  --arb-o-dark: #bd8183;
  --arb-pr-dark: #c1a78e;
  --arb-p-dark: #ece1d7;
  --arb-pb-dark: #ece1d7;
  --arb-pd-dark: #ece1d7;
  --arb-ps-dark: #cf9bc2;
  --arb-s-dark: #85b695;
  --arb-ss-dark: #d47766;
  --arb-tg-dark: #bd8183;
  --arb-td-dark: #bd8183;
  --arb-te-dark: #bd8183;
  --arb-t-dark: #c1a78e;
  --arb-tb-dark: #c1a78e;
  --arb-tq-dark: #c1a78e;
  --arb-v-dark: #ece1d7;
  --arb-vb-dark: #d47766;
  --arb-vp-dark: #c1a78e;
  --arb-c-dark: #867462;
  --arb-c-dark-style: italic;
  --arb-cd-dark: #867462;
  --arb-cd-dark-style: italic;
  --arb-m-dark: #a3a9ce;
  --arb-l-dark: #cf9bc2;
  --arb-da-dark: #85b695;
  --arb-dd-dark: #d47766;
  --arb-n-dark: #cf9bc2;
  --arb-tl-dark: #ece1d7;
  --arb-em-dark-style: italic;
  --arb-st-dark-weight: bold;
  --arb-tu-dark: #a3a9ce;
  --arb-tu-dark-decoration: underline;
  --arb-tr-dark: #a3a9ce;
  --arb-se-dark: #ebc06d;
  --arb-tt-dark: #c1a78e;
  --arb-tt-dark-weight: bold;
  --arb-tx-dark-decoration: line-through;
  --arb-sp-dark: #ece1d7;
  --arb-in-dark: #bd8183;
  --arb-sc-dark: #bd8183;
  --arb-rp-dark: #bd8183;
  --arb-cn-dark: #bd8183;
  --arb-ex-dark: #bd8183;
  --arb-pp-dark: #bd8183;
  --arb-ch-dark: #85b695;
  --arb-cs-dark: #85b695;
  --arb-vm-dark: #ece1d7;
  --arb-fd-dark: #a3a9ce;
  --arb-tf-dark: #c1a78e;
  --arb-fc-dark: #a3a9ce;
  --arb-km-dark: #bd8183;
  --arb-dr-dark: #bd8183;
  --arb-rx-dark: #85b695;

  --arb-at-light: #bc5c00;
  --arb-co-light: #904180;
  --arb-cb-light: #904180;
  --arb-fb-light: #465aa4;
  --arb-f-light: #465aa4;
  --arb-fm-light: #465aa4;
  --arb-k-light: #bc5c00;
  --arb-kc-light: #bc5c00;
  --arb-ko-light: #bc5c00;
  --arb-kd-light: #bc5c00;
  --arb-ke-light: #bc5c00;
  --arb-kf-light: #bc5c00;
  --arb-ki-light: #bc5c00;
  --arb-kp-light: #bc5c00;
  --arb-kr-light: #bc5c00;
  --arb-kt-light: #bc5c00;
  --arb-ky-light: #bc5c00;
  --arb-o-light: #bc5c00;
  --arb-pr-light: #bc5c00;
  --arb-p-light: #54433a;
  --arb-pb-light: #54433a;
  --arb-pd-light: #54433a;
  --arb-ps-light: #904180;
  --arb-s-light: #3a684a;
  --arb-ss-light: #bf0021;
  --arb-tg-light: #bc5c00;
  --arb-td-light: #bc5c00;
  --arb-te-light: #bc5c00;
  --arb-t-light: #bc5c00;
  --arb-tb-light: #bc5c00;
  --arb-tq-light: #bc5c00;
  --arb-v-light: #54433a;
  --arb-vb-light: #bf0021;
  --arb-vp-light: #bc5c00;
  --arb-c-light: #7d6658;
  --arb-c-light-style: italic;
  --arb-cd-light: #7d6658;
  --arb-cd-light-style: italic;
  --arb-m-light: #465aa4;
  --arb-l-light: #904180;
  --arb-da-light: #3a684a;
  --arb-dd-light: #bf0021;
  --arb-n-light: #904180;
  --arb-tl-light: #54433a;
  --arb-em-light-style: italic;
  --arb-st-light-weight: bold;
  --arb-tu-light: #465aa4;
  --arb-tu-light-decoration: underline;
  --arb-tr-light: #465aa4;
  --arb-se-light: #a06d00;
  --arb-tt-light: #bc5c00;
  --arb-tt-light-weight: bold;
  --arb-tx-light-decoration: line-through;
  --arb-sp-light: #54433a;
  --arb-in-light: #bc5c00;
  --arb-sc-light: #bc5c00;
  --arb-rp-light: #bc5c00;
  --arb-cn-light: #bc5c00;
  --arb-ex-light: #bc5c00;
  --arb-pp-light: #bc5c00;
  --arb-ch-light: #3a684a;
  --arb-cs-light: #3a684a;
  --arb-vm-light: #54433a;
  --arb-fd-light: #465aa4;
  --arb-tf-light: #bc5c00;
  --arb-fc-light: #465aa4;
  --arb-km-light: #bc5c00;
  --arb-dr-light: #bc5c00;
  --arb-rx-light: #3a684a;
}
